@import '../../../shared/styles/global-styles';

.form-container{
  position: absolute;
  width: $form-login-width;
  left: calc(50% - #{$form-login-width}/2);
  top: 200px;
}

.text-label{
  width: 100px;
}

.div-form{
  display: inline-flex;
  margin-top: 15px;
  width: 100%;
}

div.error{
  text-align: right;
}

.forgetPassLink{
  padding-top: 15px;
}

