
<div class="form-container">
  <form *ngIf="loginForm" (ngSubmit)="onSubmit()" [formGroup]="loginForm" >
    <div class="div-form" >
      <app-shr-input
        class="w100"
        [inputForm]="loginForm"
        [type]="'text'"
        [id]="'login-input'"
        [placeholder]=" loginInProgress === errorButtonState ? ('login-input-name-error-wrong' | translate) :
                ( (!login.valid && login.touched) ? ('login-input-name-error-required' | translate) : ('login-input-name' | translate)) "
        [controlName]="'login'"
        [errorClassCondition]="(!login.valid && login.touched) || loginInProgress === errorButtonState"
        [disabled]="true"
        (keypress)="valueChange()">
        <span class="content-label"></span>
      </app-shr-input>
    </div>
    <div class="div-form">
      <app-shr-input
        class="w100"
        [inputForm]="loginForm"
        [type]="'password'"
        [id]="'password-input'"
        [placeholder]=" loginInProgress === errorButtonState ? ('login-input-password-error-wrong' | translate) :
                ( (!password.valid && password.touched) ? ('login-input-password-error-required' | translate) : ('login-input-password' | translate)) "
        [controlName]="'password'"
        [errorClassCondition]="(!password.valid && password.touched) || loginInProgress === errorButtonState"
        (keypress)="valueChange()" >
        <span class="content-label"></span>
      </app-shr-input>
    </div>
    <div class="div-form">
      <app-shr-input
        [inputForm]="loginForm"
        [type]="'checkbox'"
        [labelPlace]="'after'"
        [id]="'stay-connect-input'"
        [controlName]="'stayConnect'"
        (keypress)="valueChange()">
        <span class="content-label">{{'login-input-stay-connect' | translate}}</span>
      </app-shr-input>
    </div>

    <app-shr-button
      [state]="loginInProgress"
      [disabled]="!loginForm.valid">
      <span class="content-label">{{'login-button-submit' | translate}}</span>
      <span class="content-wrongLabel">{{'login-button-submit-wrong' | translate}}</span>
      <span class="content-errorLabel">{{'login-button-submit-error' | translate}}</span>
      <span class="content-successLabel">{{'login-button-submit-valid' | translate}}</span>
      <span class="content-pendingLabel">
      <app-shr-loading></app-shr-loading>
    </span>
    </app-shr-button>

    <div class="forgetPassLink">
      <app-shr-link (click)="clickOnForgetPass()">
        {{'forget-pass-button' | translate}}
      </app-shr-link>
    </div>

  </form>
</div>
