@import '../../../shared/styles/global-styles';

.text-label{
  width: 100px;
}

.div-form{
  display: inline-flex;
  margin-top: 15px;
  width: 100%;
}

div.error{
  text-align: right;
}

.forgetPassLink{
  padding-top: 15px;
}
