
$font-family : "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;

$login-background-color: #32B8C9;

$form-login-width : 300px;

$button-background-color: #FFFFFF;
$button-text-color: #32B8C9;

$label-text-color: #215121;

$border-input-color:#FFFFFF;
$border-input-size: 1px;
$border-input-style: solid;
$input-background-color: #DDDDDD;

$border-input-error-color:#FF0000;
$border-input-error-size: 4px;

$text-error-color:#FF0000;

$title-background-color: #FFFFFF;
$title-text-color: #FFFFFF;
$title-text-color-font-size: 1.25em;

$menu-background-color: #AAAAFF;
$menu-entete-background-color: #FFF;
$menu-text-header-color: #32B8C9;
$menu-liste-background-color: #32B8C9;

$menu-item-text-color: #FFF;
$menu-item-background-color: #2DA5B5;
$menu-item-border-color: #81D5E0;

$main-background-color: #444;

$tile-text-color:#FFFFFF;
$tile-background-color-first: #2DA5B5;
$tile-background-color-second: #F9D100;

$resume-tile-title-text-color: #FFFFFF;
$resume-tile-title-backgound-color: #2DA5B5;
$resume-tile-background-color-first: #FFFFFF;
$resume-tile-background-color-second: #FFFFFF;
