$icomoon-font-path: "/assets/styles/menu-font/fonts" !default;

$icon-calendar: "\e900";
$icon-cogs: "\e901";
$icon-dashboard: "\e902";
$icon-fiche_vehicule: "\e903";
$icon-livraison: "\e904";
$icon-question-circle: "\e905";
$icon-restitution: "\e906";
$icon-sign-out: "\e907";
$icon-asterisk: "\e908";

