@import '../../styles/global-styles';

$border-input-color:#FFFFFF;
$border-input-size: 1px;
$border-input-style: solid;
$input-background-color: #DDFFDD;
$input-text-color: green;

$border-input-error-color:#FF0000;
$border-input-error-size: 4px;

$label-text-color: green;

input{

  &[type="text"],
  &[type="password"]{
    width: 100%;
  }

  &[type="checkbox"]{
    margin: 6px 0 0 0;
  }

  line-height: 20px;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
  border:$border-input-style $border-input-size $border-input-color;
  background-color: $input-background-color;
  color: $input-text-color;

  &.error {
    border-left: $border-input-error-size $border-input-style $border-input-error-color;

    &::-webkit-input-placeholder {
      text-align: right;
      color: $text-error-color;
    }
  }
}

label{
  color: $label-text-color;
  padding-left:8px;
}
