<div [formGroup]="inputForm" class="inline w100">
  <label for="{{id}}" *ngIf="labelPlace=='before'">
      <ng-container *ngTemplateOutlet="labelText"></ng-container>
  </label>
  <input type="{{type}}"
         id="{{id}}"
         placeholder="{{placeholder}}"
         formControlName="{{controlName}}"
         [class.error]="errorClassCondition"
         [disabled]="disabled"
  />
  <label for="{{id}}" *ngIf="labelPlace=='after'">
    <ng-container *ngTemplateOutlet="labelText"></ng-container>
  </label>
</div>

<ng-template #labelText>
  <ng-content select=".content-label"></ng-content>
</ng-template>
